In [1]:
import numpy as np
import pandas as pd
import scipy as s
import scipy.stats as ss

In [2]:
df=pd.read_csv(r"C:\Users\priya\Cleaned_Smart_Watches.csv")

In [3]:
df

,Brand,Price,MRP,Discount,Deals,Size,color,Screen_Size
0,"Boult Crown 1.95'' Screen, BT Calling, Working...",1399,4499,68,Hot Deal,Free Size,Black Strap,1.95
1,"Noise Qube 2 1.96"" Display with Bluetooth Call...",1749,6999,75,Bank Offer,Regular,Pink Strap,1.96
2,OMNIKART T800 Ultra Smart watch with Wireless ...,725,7999,90,Bank Offer,All,Orange Strap,NaN
3,SmartOne 49mm Gs Ultra 8 Extreme Clone Version...,785,15664,94,Bank Offer,Free,Orange Alpine Strap,NaN
4,Ephemeral T800 ULTRA SMARTWATCH 1.9 HD DISPLAY...,920,5999,84,Bank Offer,Free,Orange Strap,1.90
...,...,...,...,...,...,...,...,...
955,ULTRON ULTRONSmartwatchGOLDEN&PURPLEX6900BGB69...,1999,6999,71,Bank Offer,Free,Purple Strap,NaN
956,Ambrane Wise Eon Pro1.85 lucid display with BT...,1499,5299,71,Daily Saver,Regular,Green Strap,1.85
957,"Boult Sterling 1.52"" Rugged & Shock Proof Desi...",2499,5999,58,Bank Offer,Free Size,Midnight Marine Strap,1.52
958,Like Star T800 Ultra Series 8 Watch Bluetooth ...,899,4999,82,Bank Offer,45,Orange Strap,NaN
959,Techfly T800 Ultra Watch Smartwatch Bluetooth ...,918,5999,84,Bank Offer,Free,Black Strap,NaN

In [4]:
s=round(df['Screen_Size'].mean(),3)

In [5]:
df.replace({'Screen_Size':{np.nan:s}},inplace=True)

In [6]:
df

,Brand,Price,MRP,Discount,Deals,Size,color,Screen_Size
0,"Boult Crown 1.95'' Screen, BT Calling, Working...",1399,4499,68,Hot Deal,Free Size,Black Strap,1.950
1,"Noise Qube 2 1.96"" Display with Bluetooth Call...",1749,6999,75,Bank Offer,Regular,Pink Strap,1.960
2,OMNIKART T800 Ultra Smart watch with Wireless ...,725,7999,90,Bank Offer,All,Orange Strap,1.743
3,SmartOne 49mm Gs Ultra 8 Extreme Clone Version...,785,15664,94,Bank Offer,Free,Orange Alpine Strap,1.743
4,Ephemeral T800 ULTRA SMARTWATCH 1.9 HD DISPLAY...,920,5999,84,Bank Offer,Free,Orange Strap,1.900
...,...,...,...,...,...,...,...,...
955,ULTRON ULTRONSmartwatchGOLDEN&PURPLEX6900BGB69...,1999,6999,71,Bank Offer,Free,Purple Strap,1.743
956,Ambrane Wise Eon Pro1.85 lucid display with BT...,1499,5299,71,Daily Saver,Regular,Green Strap,1.850
957,"Boult Sterling 1.52"" Rugged & Shock Proof Desi...",2499,5999,58,Bank Offer,Free Size,Midnight Marine Strap,1.520
958,Like Star T800 Ultra Series 8 Watch Bluetooth ...,899,4999,82,Bank Offer,45,Orange Strap,1.743
959,Techfly T800 Ultra Watch Smartwatch Bluetooth ...,918,5999,84,Bank Offer,Free,Black Strap,1.743

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Brand        960 non-null    object
 1   Price        960 non-null    int64
 2   MRP          960 non-null    int64
 3   Discount     960 non-null    int64
 4   Deals        960 non-null    object
 5   Size         960 non-null    object
 6   color        960 non-null    object
 7   Screen_Size  960 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 60.1+ KB

In [8]:
df.replace({'Size':{' FREE SIZE':'Free Size',' Free':'Free',' Regular':'Regular',' free':'Free',' M':'M',' Free Size':'Free Size',' All':'All',' 1.5 Inch OLED Eye Protection Display':'Free','Free size':'Free Size',' One Size':'One Size',' Diamond Gold Strap':'L',' FREE':'Free',' 35 mm':'Free',' 22mm':'One Size',' 1.39 Inch':'M','Diamond Gold Strap':'Free'}},inplace=True)

In [9]:
df.rename(columns={'Company': 'Brand','Screen_Size':'Display Size','Size':'Strap Size','color':'Strap Color'},inplace=True)

In [10]:
df

,Brand,Price,MRP,Discount,Deals,Strap Size,Strap Color,Display Size
0,"Boult Crown 1.95'' Screen, BT Calling, Working...",1399,4499,68,Hot Deal,Free Size,Black Strap,1.950
1,"Noise Qube 2 1.96"" Display with Bluetooth Call...",1749,6999,75,Bank Offer,Regular,Pink Strap,1.960
2,OMNIKART T800 Ultra Smart watch with Wireless ...,725,7999,90,Bank Offer,All,Orange Strap,1.743
3,SmartOne 49mm Gs Ultra 8 Extreme Clone Version...,785,15664,94,Bank Offer,Free,Orange Alpine Strap,1.743
4,Ephemeral T800 ULTRA SMARTWATCH 1.9 HD DISPLAY...,920,5999,84,Bank Offer,Free,Orange Strap,1.900
...,...,...,...,...,...,...,...,...
955,ULTRON ULTRONSmartwatchGOLDEN&PURPLEX6900BGB69...,1999,6999,71,Bank Offer,Free,Purple Strap,1.743
956,Ambrane Wise Eon Pro1.85 lucid display with BT...,1499,5299,71,Daily Saver,Regular,Green Strap,1.850
957,"Boult Sterling 1.52"" Rugged & Shock Proof Desi...",2499,5999,58,Bank Offer,Free Size,Midnight Marine Strap,1.520
958,Like Star T800 Ultra Series 8 Watch Bluetooth ...,899,4999,82,Bank Offer,45,Orange Strap,1.743
959,Techfly T800 Ultra Watch Smartwatch Bluetooth ...,918,5999,84,Bank Offer,Free,Black Strap,1.743

In [11]:
df.columns

Index(['Brand', 'Price', 'MRP', 'Discount', 'Deals', 'Strap Size',
       'Strap Color', 'Display Size'],
      dtype='object')

In [12]:
df

,Brand,Price,MRP,Discount,Deals,Strap Size,Strap Color,Display Size
0,"Boult Crown 1.95'' Screen, BT Calling, Working...",1399,4499,68,Hot Deal,Free Size,Black Strap,1.950
1,"Noise Qube 2 1.96"" Display with Bluetooth Call...",1749,6999,75,Bank Offer,Regular,Pink Strap,1.960
2,OMNIKART T800 Ultra Smart watch with Wireless ...,725,7999,90,Bank Offer,All,Orange Strap,1.743
3,SmartOne 49mm Gs Ultra 8 Extreme Clone Version...,785,15664,94,Bank Offer,Free,Orange Alpine Strap,1.743
4,Ephemeral T800 ULTRA SMARTWATCH 1.9 HD DISPLAY...,920,5999,84,Bank Offer,Free,Orange Strap,1.900
...,...,...,...,...,...,...,...,...
955,ULTRON ULTRONSmartwatchGOLDEN&PURPLEX6900BGB69...,1999,6999,71,Bank Offer,Free,Purple Strap,1.743
956,Ambrane Wise Eon Pro1.85 lucid display with BT...,1499,5299,71,Daily Saver,Regular,Green Strap,1.850
957,"Boult Sterling 1.52"" Rugged & Shock Proof Desi...",2499,5999,58,Bank Offer,Free Size,Midnight Marine Strap,1.520
958,Like Star T800 Ultra Series 8 Watch Bluetooth ...,899,4999,82,Bank Offer,45,Orange Strap,1.743
959,Techfly T800 Ultra Watch Smartwatch Bluetooth ...,918,5999,84,Bank Offer,Free,Black Strap,1.743

In [13]:
df['Brand']=df['Brand'].apply(lambda x:x.split()[0])

In [14]:
df

,Brand,Price,MRP,Discount,Deals,Strap Size,Strap Color,Display Size
0,Boult,1399,4499,68,Hot Deal,Free Size,Black Strap,1.950
1,Noise,1749,6999,75,Bank Offer,Regular,Pink Strap,1.960
2,OMNIKART,725,7999,90,Bank Offer,All,Orange Strap,1.743
3,SmartOne,785,15664,94,Bank Offer,Free,Orange Alpine Strap,1.743
4,Ephemeral,920,5999,84,Bank Offer,Free,Orange Strap,1.900
...,...,...,...,...,...,...,...,...
955,ULTRON,1999,6999,71,Bank Offer,Free,Purple Strap,1.743
956,Ambrane,1499,5299,71,Daily Saver,Regular,Green Strap,1.850
957,Boult,2499,5999,58,Bank Offer,Free Size,Midnight Marine Strap,1.520
958,Like,899,4999,82,Bank Offer,45,Orange Strap,1.743
959,Techfly,918,5999,84,Bank Offer,Free,Black Strap,1.743

In [15]:
df.to_csv('Cleaned_Smartwatches_Data.csv',index=False)

In [16]:
df=pd.read_csv(r"C:\Users\priya\Cleaned_Smartwatches_Data.csv")

In [17]:
df

,Brand,Price,MRP,Discount,Deals,Strap Size,Strap Color,Display Size
0,Boult,1399,4499,68,Hot Deal,Free Size,Black Strap,1.950
1,Noise,1749,6999,75,Bank Offer,Regular,Pink Strap,1.960
2,OMNIKART,725,7999,90,Bank Offer,All,Orange Strap,1.743
3,SmartOne,785,15664,94,Bank Offer,Free,Orange Alpine Strap,1.743
4,Ephemeral,920,5999,84,Bank Offer,Free,Orange Strap,1.900
...,...,...,...,...,...,...,...,...
955,ULTRON,1999,6999,71,Bank Offer,Free,Purple Strap,1.743
956,Ambrane,1499,5299,71,Daily Saver,Regular,Green Strap,1.850
957,Boult,2499,5999,58,Bank Offer,Free Size,Midnight Marine Strap,1.520
958,Like,899,4999,82,Bank Offer,45,Orange Strap,1.743
959,Techfly,918,5999,84,Bank Offer,Free,Black Strap,1.743

In [24]:
np.array(df['Strap Size'].unique())

array(['Free Size', 'Regular', 'All', 'Free',
       ' 1.9 Inch Big Sunlight Proof Display',
       ' 1.89 Inch Sunlight Proof Display', 'L', ' 46 mm', 'One Size',
       ' For all', ' 2 Inch Large Sunlight Proof Display', ' For All',
       '42', 'M', '45'], dtype=object)

In [28]:
df.replace({'Strap Size':{' 1.9 Inch OLED Eye Protection Display':'Free',' 46 mm':'Free Size',' 42':'One Size',' 1.89 Inch Sunlight Proof Display':'M',' 2 Inch Large Sunlight Proof Display':'One Size',' For all':'All',' For All':'All','45':'L','42':'One Size'}},inplace=True)

In [29]:
np.array(df['Strap Size'].unique())

array(['Free Size', 'Regular', 'All', 'Free',
       ' 1.9 Inch Big Sunlight Proof Display', 'M', 'L', 'One Size',
       'For All'], dtype=object)

In [30]:
np.array(df['Strap Color'].unique())

array(['Black Strap', 'Pink Strap', 'Orange Strap', 'Orange Alpine Strap',
       'Silver Strap', 'Denim Blue Strap', 'Yellow Strap', 'Blue Strap',
       'Gold Strap', 'Deep Wine Strap', 'Persian Blue Strap',
       'Jet Black Strap', 'Grey Strap', 'Rose Pink',
       'Classic Black Strap', 'Snow Leather Strap', 'Green Strap',
       'Tan Strap', 'Metallic Black Strap', 'Midnight Marine Strap',
       'Electric Black Strap', 'Aqua Blue Strap', 'Active Black Strap',
       'Purple Strap'], dtype=object)

In [33]:
df

,Brand,Price,MRP,Discount,Deals,Strap Size,Strap Color,Display Size
0,Boult,1399,4499,68,Hot Deal,Free Size,Black Strap,1.950
1,Noise,1749,6999,75,Bank Offer,Regular,Pink Strap,1.960
2,OMNIKART,725,7999,90,Bank Offer,All,Orange Strap,1.743
3,SmartOne,785,15664,94,Bank Offer,Free,Orange Alpine Strap,1.743
4,Ephemeral,920,5999,84,Bank Offer,Free,Orange Strap,1.900
...,...,...,...,...,...,...,...,...
955,ULTRON,1999,6999,71,Bank Offer,Free,Purple Strap,1.743
956,Ambrane,1499,5299,71,Daily Saver,Regular,Green Strap,1.850
957,Boult,2499,5999,58,Bank Offer,Free Size,Midnight Marine Strap,1.520
958,Like,899,4999,82,Bank Offer,L,Orange Strap,1.743
959,Techfly,918,5999,84,Bank Offer,Free,Black Strap,1.743

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         960 non-null    object
 1   Price         960 non-null    int64
 2   MRP           960 non-null    int64
 3   Discount      960 non-null    int64
 4   Deals         960 non-null    object
 5   Strap Size    960 non-null    object
 6   Strap Color   960 non-null    object
 7   Display Size  960 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 60.1+ KB

In [35]:
df.to_csv('cleaned_watches_data.csv',index=False)